*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: url(https://m.media-amazon.com/images/M/MV5BZjA5NTZiZDYtMzA2NS00MDE2LTk0Y2EtMThhOTk0OTEwNDdhXkEyXkFqcGdeQXVyMTAyMjQ3NzQ1._V1_.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}
nav{
    position: static;
    display: flex;
    align-content: center;
}
